<div class="row">
  <div class="col-xs-12">
    <h1>Get a recommendation</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <form role="form">
      <div class="form-group">
        <label for="gender" class="control-label">Gender</label>
        <select id="gender" name="gender" class="form-control">
          <%= options_for_select(Phrase::GENDER, @gender) %>
        </select>
      </div>
      <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input type="text" class="form-control" name="name" value="<%= @name %>" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>
  <%-if @commendation %>
  <div class="commendation col-sm-5 col-sm-offset-1 col-md-7">
    <div class="panel panel-default">
      <div class="panel-body"><%= @commendation %></div>
    </div>
  </div>
  <% end %>
</div>

