<!DOCTYPE html>
<html>
  <head>
    <title>Commend.us</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61672328-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <%= render 'navbar' %>
    <div class="container">
      <%= yield %>
    </div>

    <footer class="container">
      Commend.us was created by
      <a href="http://www.twitter.com/dabit">dabit</a>
      while funemployed
    <footer/>
  </body>
</html>
